<div class="container-fluid mt-1 px-0">
  <div class="feature container-fluid title pb-1 pb-md-4 text-white">
    <div class="container text-center pt-3 pt-md-5">
      <div class="container text-center ml-3 ml-md-5 py-2 py-md-4 px-3 px-md-5">
        <h3 class="text-uppercase">We’d love to talk to you about the <strong class="text-warning">painting job you need to complete</strong></h3>
        <div class="p-2 subhead">
          <h6>We’ll answer any questions you have, and give you a free, no-obligation quote</h6>
          <h6>No job too small and no job too big to Home Painter Ltd.</h6>
        </div>
      </div> 
      <div class="product mb-4 text-uppercase">
        <div><div class="m-2 py-2 px-2 px-md-4 bg-success d-inline-block border border border-warning rounded-pill">We offer affordable prices</div></div>
        <div><div class="m-2 py-2 px-2 px-md-4 bg-success d-inline-block border border border-warning rounded-pill">We make sure each job we do is done right first time, every time</div></div>        
        <div><div class="m-2 py-2 px-2 px-md-4 bg-success d-inline-block border border border-warning rounded-pill">We never cut corners, and we take pride in the high standards of work we deliver</div></div>
        <div><div class="m-2 py-2 px-2 px-md-4 bg-success d-inline-block border border border-warning rounded-pill">We always use high-quality paints</div></div>
        <div><div class="m-2 py-2 px-2 px-md-4 bg-success d-inline-block border border border-warning rounded-pill">We respect your home</div></div>
      </div>
    </div>
  </div>
</div>