<nav class="navbar navbar-expand-lg navbar-dark justify-content-center text-uppercase text-white">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/logo.png" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyus" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Why choose Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-md-4" routerLink="/contact" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</a>
        </li>
      </ul>
      <a class="btn btn-outline-warning btn-success btn-lg text-white" href="tel: 0224992468" type="button"><i class="bi bi-telephone-fill pe-2"></i>022 499 2468</a>
    </div>
  </div>
</nav>