<div class="container-fluid feature mt-1">
  <div class="container p-2 p-md-4 text-white">
    <h2 class="text-center mb-3">Contact us now for a free no-obligation quote</h2>
      <div class="container justify-content-center text-center mb-2">
        <div><a class="btn btn-warning my-1" href="tel:0224992468"><i class="bi bi-telephone-fill pe-2"></i>022 499 2468 (George)</a></div>
        <div><a class="btn btn-warning my-1" href="mailto: homepainterwellington@gmail.com"><i class="bi bi-envelope-fill pe-2"></i>homepainterwellington@gmail.com</a> </div>
      </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div [ngClass]="isSubmitted? 'd-block': 'd-none'" class="alert alert-success fade show" role="alert">
          <strong>{{responseMsg}}</strong>
        </div>
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">    
          <div class="form-group my-2">
            <label for="Name">Your Name (*)</label>
            <input type="text" class="form-control" name="Name" placeholder="Full Name" formControlName="Name">
          </div>

          <div class="form-group my-2">
            <label for="Phone">Your Phone (*)</label>
            <input type="text" class="form-control" name="Phone" placeholder="0210 123 456" formControlName="Phone">
          </div>

          <div class="form-group my-2">
            <label for="Address">Your Address (*)</label>
            <input type="text" class="form-control" name="Address" placeholder="Your Address" formControlName="Address">
          </div>

          <div class="form-group my-2">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="YourEmail@example.com" formControlName="Email">
          </div>

          <div class="form-group my-2">
            <label for="Message">Message (*)</label>
            <textarea class="form-control" formControlName="Message" name="Message"></textarea>
          </div>
          <div class="form-group my-2">
            <small id="emailHelp" class="form-text text-muted">We'll never share your contact with anyone else.</small>
            <div><button type="submit" class="btn btn-primary" [disabled]="!FormData.valid"><span [ngClass]="isLoading? 'spinner-border': ''" class="spinner-border-sm me-2"></span>Submit</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>