<div class="container">
  <h3 class="text-uppercase text-center my-md-5 my-3">Have a look at our completed works</h3>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/1B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/1A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/2B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/2A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/3B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/3A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/4B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/4A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/5B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/5A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/6B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/6A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/7B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/7A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/8B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/8A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/9B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/9A.JPG">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/10B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/10A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/11B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/11A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/12B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/12A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/13B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/13A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-lg-6 col-md-12">
      <img-comparison-slider>
        <figure slot="first" class="before img-fluid rounded-start">
          <img width="100%" src="./assets/14B.jpg">
          <figcaption>Before</figcaption>
        </figure>
        <figure slot="second" class="after img-fluid rounded-start">
          <img width="100%" src="./assets/14A.jpg">
          <figcaption>After</figcaption>
        </figure>
      </img-comparison-slider>
    </div>
  </div>
</div>

