<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container-fluid text-center text-white copyright mt-1 py-2 py-md-4">
  Copyright © Home Painter Wellington 2022. All rights reserved.
</div>