#banner {
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-height: 800px) {
  #banner {
    padding: 11vh 0 11vh 0 !important;
  }
}

.service {
  background:
    linear-gradient(135deg, #021120 21px, #021a31 22px, #021a31 24px, transparent 24px, transparent 67px, #021a31 67px, #021a31 69px, transparent 69px),
    linear-gradient(225deg, #021120 21px, #021a31 22px, #021a31 24px, transparent 24px, transparent 67px, #021a31 67px, #021a31 69px, transparent 69px)0 64px;
  background-color:#021120;
  background-size: 64px 128px;
  font-family: 'Lato', sans-serif;
}

.info {
  max-width: 900px;
}