<div class="container-fluid mx-0 px-0" id="homepage">
  <section id="banner" class="text-white mx-0 py-3 py-md-5 pe-2 pe-md-5">
    <div class="container">
      <div class="d-inline-block flex-column bg-dark bg-opacity-50 mx-3 mx-md-5 px-3 py-3 px-md-5 py-md-5">
        <div>
          <h1 class="text-uppercase mb-3 mb-md-5 d-inline">We're not comfortable until you are</h1>
        </div>
        <div class="info my-2 my-md-4">
          <h5 class="text-wrap">Home Painter Ltd is a full-service painting contractor delivering high standards of workmanship
            and excellent customer service at an affordable price.
          </h5>
        </div>
        <div><a type="button" routerLink="/contact"
            class="d-inline-block btn btn-warning btn-lg px-1 mt-2 mt-md-3 px-md-5 py-1 py-md-2 text-uppercase">Book a free quote
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="feature text-white text-uppercase py-4">
    <div class="container justify-content-center px-5 py-5">
      <h1 class="text-center mb-5">The services that we offer include</h1>
      <div class="container ">
        <div class="row">
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem "></i>Exterior Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Interior Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Fence Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Paint Stripping</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Pergolas Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Roof Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Deck Painting</div>
          <div class="col text-center"><i class="bi bi-check-circle-fill d-block py-3 text-warning" style="font-size: 2rem"></i>Plastering</div>
        </div>
    </div>
    </div>
  </section>
</div>